.container {
    max-width: 800px;
    font-family: 'Segoe UI';
    margin: 0 auto;
    background: rgba(197, 239, 255, 0.695);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #e73d76;
}

.input-section {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #2c3e50;
}

#query-input {
    width: 96%;
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;}

#send-button {
    background: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background 0.5s;
}

#send-button:hover {
    background: #e73d76;
}

.output-box {
    min-height: 100px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Segoe UI';
    color: #e73d76;
    background-color: #ffffff;
}