h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

body {
    font-family: sans-serif;
    padding: 20px;
}

div {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #ddd;
}
